$blue: #0e3ff4;
$purple: #842bff;
$gradient: linear-gradient(to right, $blue 0%, $purple 100%);

$mobile-max-width: 1024px;
@mixin mobile {
    @media (max-width: #{$mobile-max-width}) {
        @content;
    }
}
