@import 'animations';
@import 'variables';


.keywords {
    color: #000;
    position: absolute;
    padding-left: calc(25vw - 4em);
    padding-right: calc(25vw - 4em);
    z-index: -1;
    font-weight: bold;
    opacity: .3;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__word {
        font-size: 8vh;
        margin-bottom: .5rem;
        text-transform: uppercase;
    }

    &__text {
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: top;
        display: inline-block;

        &::before {
            content: '';
            position: absolute;
            top: .05em;
            left: -100%;
            width: 100%;
            height: 100%;
            background: #000;
            float: left;
        }

        &--animate {
            animation: opacity-out-in 1s normal steps(3, end);

            &::before {
                animation: reveal-in 1s normal forwards;
            }
        }
    }
}

.about {
    background: rgba(255, 255, 255, .8);
    color: #000;
    height: 100vh;
    padding-left: calc(25vw - 12em);
    padding-right: calc(25vw - 12em);
    display: flex;
    align-items: center;

    &__text {
        font-size: 1.7em;
        line-height: 1.5em;
        display: block;

        @include mobile {
            font-size: 1.2em;
            margin-left: 2em;
            margin-right: 2em;
        }

        &::before {
            content: '';
            display: block;
            width: 3rem;
            border-top: .3rem solid #0e3ff4;
            margin-bottom: 2rem;
        }
    }

    &__strong {
        position: relative;
        white-space: nowrap;
        animation: opacity-in .3s normal step-end;
        overflow: hidden;
        vertical-align: top;
        display: inline-block;

        &::before {
            content: '';
            position: absolute;
            top: .05em;
            left: -100%;
            width: 100%;
            height: 100%;
            background: #000;
            animation: reveal-in 1s normal forwards;
            float: left;
        }
    }
}
