body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;  // sass-lint:disable-line no-vendor-prefixes
    -webkit-font-smoothing: antialiased;  // sass-lint:disable-line no-vendor-prefixes
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    perspective: 5em;
    cursor: default;
    user-select: none;
    overflow: hidden;
}

.loading *,
.loading *::before,
.loading *::after {
    animation-play-state: paused !important;  // sass-lint:disable-line no-important
}

.section {
    overflow: hidden;

    *,
    *::before,
    *::after {
        animation-play-state: paused !important;  // sass-lint:disable-line no-important
    }

    &--animate *,
    &--animate *,
    &--animate *::before,
    &--animate *::after {
        animation-play-state: running !important;  // sass-lint:disable-line no-important
    }
}


// Fullpage

#fp-nav ul li .fp-tooltip {
    background: #000;
    font-weight: bold;
    text-transform: uppercase;
}
