@import 'animations';
@import 'variables';


.contact {
    background: #20232e;
    height: 100vh;
    padding-left: calc(25vw - 4em);
    padding-right: calc(25vw - 4em);
    display: flex;
    align-items: center;

    @include mobile {
        flex-direction: column;
    }

    &__titles,
    &__details {
        width: calc(25vw + 4em);

        @include mobile {
            width: 80vw;
        }
    }

    &__titles {
        flex-direction: column;

        @include mobile {
            margin-top: 10vh;
        }
    }

    &__title {
        font-size: 4em;
        font-weight: bold;
        margin-bottom: .5em;
        font-family: 'Vollkorn', serif;
        animation: slide-right 1s normal forwards;
        opacity: 0;
        transform: translateX(-100%);

        &::before {
            content: '';
            display: block;
            width: 3rem;
            border-top: .3rem solid #0e3ff4;
            margin-bottom: 2rem;
        }
    }

    &__subtitle {
        font-size: 1.4em;
        text-transform: uppercase;
        margin-bottom: 2em;
        font-weight: bold;
        animation: slide-right 1s normal forwards;
        opacity: 0;
        transform: translateX(-100%);
        animation-delay: 100ms;

        span {
            background: linear-gradient(to right, #0e3ff4 0%, #842bff 100%);
            padding: .2em;
            line-height: 1.9em;
        }
    }

    &__details {
        flex-direction: column;
        overflow: hidden;
        white-space: nowrap;

        .details {
            &__title {
                font-size: .9em;
                text-transform: uppercase;
                font-weight: bold;
                opacity: .8;
            }

            &__text {
                font-size: 1.5em;
                margin-bottom: 1.5em;

                a {
                    text-decoration: none;
                    color: white;
                    transition: background 300ms;
                    position: relative;

                    @keyframes transform-right {
                        from {
                            transform: scaleX(0);
                        }

                        to {
                            transform: scaleX(1);
                        }
                    }

                    @keyframes transform-left {
                        from {
                            transform: scaleX(1);
                        }

                        to {
                            transform: scaleX(0);
                        }
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        height: 2px;
                        background: rgba(255, 255, 255, 1);
                        transform-origin: left;
                        animation: transform-left 300ms normal forwards;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        height: 2px;
                        background: rgba(255, 255, 255, .2);
                    }

                    &:hover {
                        &::before {
                            animation: transform-right 300ms normal forwards;
                        }
                    }
                }
            }
        }
    }
}
