.contact {
    background: #20232e;
    height: 100vh;
    padding-left: calc(25vw - 4em);
    padding-right: calc(25vw - 4em);
    display: flex;
    align-items: center;

    &__titles,
    &__details {
        width: calc(25vw + 4em);
    }

    &__titles {
        flex-direction: column;
    }

    &__title {
        font-size: 4vw;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: .5em;

        &::before {
            content: '';
            display: block;
            width: 3rem;
            border-top: .3rem solid #0e3ff4;
            margin-bottom: 2rem;
        }
    }

    &__subtitle {
        font-size: 1.3vw;
        text-transform: uppercase;
        margin-bottom: 2em;
        font-weight: bold;

        span {
            background: linear-gradient(to right, #0e3ff4 0%, #842bff 100%);
            padding: .2em;
            line-height: 1.7em;
        }
    }

    &__details {
        flex-direction: column;

        .details {
            &__title {
                font-size: 1.2vw;
                text-transform: uppercase;
                color: white;
                background: black;
                width: auto;
                font-weight: bold;
                display: inline-block;
            }

            &__text {
                font-size: 1.5vw;
                margin-bottom: 1em;

                a {
                    color: black;
                    text-decoration: none;
                    color: black;
                    background: white;
                    transition: color 300ms, background 300ms;

                    &:hover {
                        color: white;
                        background: black;
                    }
                }
            }
        }
    }
}
