#kaleidoscope {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    canvas {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -2;
        mix-blend-mode: darken;
    }

    .overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        mix-blend-mode: darken;
        background: rgba(0, 0, 0, 0.6);
        width: 100vw;
        height: 100vh;

        &__text {
            font-size: 15vw;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: -0.05em;
        }
    }
}

.description {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: calc(50vw + 8em);
    margin-top: 6em;
    padding-left: calc(25vw - 4em);
    padding-right: calc(25vw - 4em);
    position: relative;

    &__text {
        font-size: 3.5vw;
        margin-bottom: 1em;

        &::before {
            content: '';
            display: block;
            width: 3rem;
            border-top: .3rem solid #0e3ff4;
            margin-bottom: 5rem;
        }
    }

    @keyframes width-slide {
        0% {
            width: 0;
        }

        100% {
            width: 8em;
        }
    }

    &__various {
        font-size: 2vw;
        line-height: 1.6em;
        display: block;
        overflow: hidden;
        right: 0;
        width: 0;
        letter-spacing: .1em;
        font-weight: bold;
        text-transform: uppercase;
        animation: width-slide 2s normal forwards;

        span {
            background: linear-gradient(to right, #0e3ff4 0%, #842bff 100%);
            padding: .2em;
        }
    }
}

.scroll {
    position: absolute;
    display: flex;
    top: 85vh;
    justify-content: center;
    width: 100vw;
    height: 15vh;
    overflow: hidden;

    @keyframes height-slide {
        from {
            top: -5vh;
        }

        to {
            top: 15vh;
        }
    }

    &::before {
        content: '';
        display: block;
        height: 5vh;
        border-left: .2em solid white;
        animation: height-slide 2s normal infinite ease-in-out;
        position: absolute;
    }
}
