@import 'animations';


.work {
    display: flex;
    background: #e5e5e5;
    color: black;

    &__left {
        margin-left: calc(25vw - 4em);
        width: 25vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .job {
            &__title {
                font-size: 4vw;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 3rem;
                overflow: hidden;

                &::before {
                    content: '';
                    display: block;
                    width: 3rem;
                    border-top: .3rem solid #0e3ff4;
                    margin-bottom: 2rem;
                }

                &--slide {
                    position: relative;
                    animation: slide-up 1s normal forwards;
                    visibility: hidden;
                    top: 100%;
                }
            }

            &__description {
                font-size: 1.2vw;
                line-height: 1.5em;
                margin-bottom: 3rem;
                overflow: hidden;

                &--slide {
                    position: relative;
                    animation: slide-up 1s normal forwards;
                    animation-delay: 250ms;
                    visibility: hidden;
                    top: 100%;
                }
            }

            &__link {
                overflow: hidden;

                &--slide {
                    position: relative;
                    animation: slide-up 1s normal forwards;
                    animation-delay: 500ms;
                    visibility: hidden;
                    top: 100%;
                }

                a {
                    background: #0e3ff4;
                    color: white;
                    text-decoration: none;
                    padding: .5rem 1rem;
                    text-transform: uppercase;
                    font-weight: bold;
                    letter-spacing: .1rem;
                    font-size: 1.4vw;
                    transition: background 1s;
                    display: inline-block;

                    &:hover {
                        background: #842bff;
                    }
                }
            }
        }
    }

    &__right {
        margin-left: 4em;
        width: calc(50vw - 4em);
        height: 100vh;
        overflow: hidden;

        img {
            opacity: 0;
            animation: make-visible 1s normal forwards;
            animation-delay: 1s;
            height: 100vh;
            min-width: 50vw;
            object-fit: cover;
            object-position: left top;
        }
    }
}
