<!DOCTYPE html>
<!--              ___           ___           ___           ___     
    ___          /  /\         /  /\         /  /\         /  /\    
   /  /\        /  /:/_       /  /::\       /  /::\       /  /:/    
  /  /:/       /  /:/ /\     /  /:/\:\     /  /:/\:\     /  /:/     
 /__/::\      /  /:/ /::\   /  /:/~/::\   /  /:/~/::\   /  /:/  ___ 
 \__\/\:\__  /__/:/ /:/\:\ /__/:/ /:/\:\ /__/:/ /:/\:\ /__/:/  /  /\
    \  \:\/\ \  \:\/:/~/:/ \  \:\/:/__\/ \  \:\/:/__\/ \  \:\ /  /:/
     \__\::/  \  \::/ /:/   \  \::/       \  \::/       \  \:\  /:/ 
     /__/:/    \__\/ /:/     \  \:\        \  \:\        \  \:\/:/  
     \__\/       /__/:/       \  \:\        \  \:\        \  \::/   
                 \__\/         \__\/         \__\/         \__\/ -->
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
        <meta name="author" content="{{ AUTHOR }}"/>
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lobster|Vollkorn:400italic,400"/>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/2.1.0/normalize.min.css"/>
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/codehilite.css"/>
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/base.css"/>
    </head>

    <body>
        <div id="wrapper">
        <div id="header">
            <a href="{{ SITEURL }}">
                <div id="name">Isaac Bythewood</div>
                <div id="description">I am a software engineer located in Morganton, NC</div>
            </a>
        </div>
        {% block yield %}{% endblock %}
        <div id="footer">
            <p>Content copyright © 2013 Isaac Bythewood under the
                <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons</a>
                license.</p>
            <p>The code for this website can be found on
                <a href="https://github.com/overshard/overshard.github.com">GitHub</a>.</p>
        </div>
        </div>
        {% include "analytics.html" %}
    </body>
</html>
