{% extends "base.html" %}

{% block yield %}
{% include "links.html" %}
<div class="section">
    <div class="title">
        <h3>Articles</h3>
    </div>
    <div class="content">
        <ul id="articles">
        {% for article in articles %}
            <li><span class="date">{{ article.locale_date }}</span> &raquo;
                <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
        {% endfor %}
        </ul>
    </div>
</div>
<div class="section">
    <div class="title">
        <h3>Releases</h3>
    </div>
    <div class="content">
        {% for article in articles %}
            {% if article.category == 'Releases' %}
                <h4>{{ article.title }}</h4>
                {{ article.content }}
                {% break %}
            {% endif %}
        {% endfor %}
    </div>
</div>
<div class="section">
    <div class="title">
        <h3>Biography</h3>
    </div>
    <div class="content">
        <p>My favorite things are motorcycles, longboards, heavy metal, turtles,
            Siamese cats, pizza, and apple pie. I'm a gamer and play lots of
            first person shooters and Starcraft II. I'm a software engineer and 
            website developer. (It's why most of my projects are web-based!)
            Ubuntu is my primary operating system, have an Ubuntu phone and
            spend way too much time yelling at Nvidia's terrible Linux drivers.
            I'm an avid book reader, my favorite author is Brandon Sanderson, 
            a god of Fantasy and Science Fiction. I also really enjoy the
            ponderings of many Science Fiction authors such as Isaac Asimov and
            Arthur C. Clarke.</p>
        <blockquote>
            <p>Two possibilities exist: Either we are alone in the Universe or
                we are not. Both are equally terrifying.</p>
            <small>&mdash; Arthur C. Clarke</small>
        </blockquote>
    </div>
</div>
<div class="section">
    <div class="title">
        <h3>Colophon</h3>
    </div>
    <div class="content">
        <p>A sampling of the libraries, images, and fonts used in the making of
            this website:</p>
        <ul>
            <li>Built on top of the beautiful
                <a href="http://getpelican.com/">Pelican</a>.</li>
            <li>Using <a href="http://necolas.github.io/normalize.css/">Normalize.css</a>
                to avoid killing browser developers.</li>
            <li>The fonts are
                <a href="http://www.impallari.com/lobster/">Lobster</a> &amp;
                <a href="http://friedrichalthausen.de/vollkorn/">Vollkorn</a>.</li>
        </ul>
    </div>
</div>
{% endblock %}
