@keyframes fadeStart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideStart {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

.imageWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
}

.words {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  mix-blend-mode: darken;
  background: rgba(0, 0, 0, 0.8);
}

.word {
  opacity: 0.2;
  font-size: 14vw;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
}

.wordAppear,
.wordEnter {
  opacity: 0;
  transform: translateY(-200px);
}

.wordAppearActive,
.wordEnterActive {
  opacity: 0.2;
  transform: translateY(0);
  transition-duration: 1000ms;
  transition-property: opacity, transform;
}

.wordAppearDone,
.wordEnterDone {
  opacity: 0.2;
}

.wordExit {
  transform: translateY(0);
  opacity: 0.2;
}

.wordExitActive {
  opacity: 0;
  transform: translateY(200px);
  transition-duration: 1000ms;
  transition-property: opacity, transform;
}

.description {
  font-size: 3.5em;
  font-weight: bolder;
  opacity: 0;
  animation-name: fadeStart;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  position: relative;
  z-index: 20;
}

.description::before {
  content: "";
  display: block;
  width: 75px;
  height: 5px;
  margin: 0 0 20px 0;
  background-color: var(--color-blue);
}

@media (max-width: 767.98px) {
  .description {
    font-size: 2em;
  }
}

.name {
  font-size: 2.5em;
  text-transform: uppercase;
  padding: 5px;
  margin: 0 0 2px 0;
  align-self: flex-start;
  background-image: linear-gradient(
    to right,
    var(--color-blue) 0,
    var(--color-purple) 100%
  );
  transform: translateX(-100vw);
  animation-name: slideStart;
  animation-duration: 750ms;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  position: relative;
  z-index: 20;
}

@media (max-width: 767.98px) {
  .name {
    font-size: 1.5em;
  }
}
