:root {
  --color-primary: #20232e;
  --color-blue: #0e3ff4;
  --color-purple: #842bff;
  --radius-2: 3px;
  --transition-250: 250ms;
  --animation-1500: 1500ms;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: white;
  background-color: var(--color-primary);
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-rendering: optimizeLegibility;
  user-select: none;
  cursor: none;
}

a,
button {
  cursor: none;
}

.transition {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  width: 100%;
  transition: opacity var(--transition-250);
  will-change: opacity;
}

.transition-enter,
.transition-appear {
  opacity: 0;
}

.transition-enter-active,
.transition-appear-active,
.transition-enter-done,
.transition-appear-done {
  opacity: 1;
}

.transition-exit {
  opacity: 1;
}

.transition-exit-active,
.transition-exit-done {
  opacity: 0;
}

@media (prefers-reduced-motion: reduce) {
  .transition {
    transition: none;
  }

  .transition-enter,
  .transition-appear,
  .transition-exit-active,
  .transition-exit-done {
    opacity: 1;
  }
}
